<mat-toolbar color="primary">
    <h1>Książka telefoniczna</h1>
    <div style="text-align: right;width: 100%" class="link">
        <button mat-button [matMenuTriggerFor]="menu"><i class="material-icons">menu</i></button>
        <mat-menu #menu="matMenu">
            <a mat-menu-item [routerLink]="['/phoneBook']">Kontakty</a>
            <a mat-menu-item [routerLink]="['/history']">Historia</a>
        </mat-menu>   
    </div>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>