<div style="margin:10px">
    <button mat-raised-button color="warn"  (click)="removeContacts()">Usuń</button>    
  </div>
<div class="example-container mat-elevation-z8">
    <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="person">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Osoba</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Contact.LastName + " " + element.Contact.FirstName}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="tel">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Telefon</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Contact.Tel}} </mat-cell>
    </ng-container>


     <!-- Symbol Column -->
     <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Data poł.</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.CallDateTime | date:"yyyy.MM.dd HH:mm:SS"}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="time">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Czas poł.</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Time}} </mat-cell>
        </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
    </mat-row>
  </mat-table>
</div>