<div class="callButton">
   <button *ngIf="isOneSelected()" [@fadeInOut] mat-fab (click)="call()"><i class="material-icons">call</i></button>
   <button *ngIf="isOneSelected()" [@fadeInOut] mat-fab color="primary" (click)="goToHistory()"><i class="material-icons">history</i></button>
</div>
<div style="margin:10px">
  <button mat-raised-button color="primary"  (click)="addContact()">Dodaj</button>
  <button [disabled]="!isOneSelected()" mat-raised-button color="accent" (click)="editContact()">Edytuj</button>
  <button mat-raised-button color="warn"  (click)="removeContacts()">Usuń</button>
  
</div>
<div class="example-container mat-elevation-z8">
    <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="person">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Osoba</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.LastName + " " + element.FirstName}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="tel">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Telefon</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Tel}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="adress">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Adres</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Adress}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Email}} </mat-cell>
    </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="lastCall">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ost. poł.</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.LastCall | date:"yyyy.MM.dd HH:mm:SS"}} </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
    </mat-row>
  </mat-table>
</div>